@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #ff80001a;
  color: #ff8000;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
