@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #ff80001a;
  color: #ff8000;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.code pre {
  max-height: 480px;
}
.blog {
  @apply flex justify-between flex-col gap-4;
}

.blog ul {
  @apply list-disc;
}
.blog ul {
  @apply list-disc text-zinc-500 dark:text-dark-white-300 text-pretty ml-4;
}
.blog ol {
  @apply list-decimal ml-4 text-zinc-500 dark:text-dark-white-300 text-pretty text-sm;
}

.blog p {
  @apply text-zinc-500 dark:text-dark-white-300 text-pretty;
}
.blog h1 {
  @apply text-zinc-900 dark:text-dark-white-900 text-lg font-medium text-pretty mt-6;
}
.blog h2 {
  @apply text-zinc-900 dark:text-dark-white-900 text-lg font-medium text-pretty mt-6;
}
.blog h3 {
  @apply text-zinc-900 dark:text-dark-white-900 text-lg font-medium text-pretty mt-6;
}
.blog h4 {
  @apply text-zinc-900 dark:text-dark-white-900 text-lg font-medium text-pretty mt-6;
}
.blog h5 {
  @apply text-zinc-900 dark:text-dark-white-900 text-lg font-medium text-pretty;
}

.blog a {
  @apply underline;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
